@tailwind base;
@tailwind components;
@tailwind utilities;

.input-text {
	@apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 shadow-sm
}

.primary-button {
	@apply flex items-center justify-center text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-300 rounded-lg dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800 border px-4 py-2 text-sm font-semibold uppercase transition ease-in-out duration-150
}

.secondary-button {
	@apply flex items-center justify-center text-white bg-secondary-600 hover:bg-secondary-700 focus:ring-4 focus:ring-secondary-300 rounded-lg dark:bg-secondary-600 dark:hover:bg-secondary-700 focus:outline-none dark:focus:ring-secondary-800 border px-4 py-2 text-sm font-semibold uppercase transition ease-in-out duration-150
}

.danger-button {
	@apply flex items-center justify-center text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 rounded-lg dark:bg-red-600 dark:hover:bg-red-700 focus:outline-none dark:focus:ring-red-800 border px-4 py-2 text-sm font-semibold uppercase transition ease-in-out duration-150
}

.modal-bg {
	@apply fixed inset-0 bg-black bg-opacity-40 z-50 backdrop-blur-sm flex justify-center items-center
}

.content-div {
	@apply bg-white dark:bg-gray-800 overflow-hidden shadow-lg border sm:rounded-lg flex items-center justify-center p-4 mt-4 mx-auto
}

.blue-alert {
	@apply flex items-center p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800 mx-4 lg:mx-auto
}

.yellow-alert {
	@apply flex items-center p-4 mb-4 text-yellow-800 border border-yellow-300 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300 dark:border-yellow-800
}

.red-alert {
	@apply flex items-center p-4 mb-4 text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800 mx-4 lg:mx-auto
}

.switch {
	/* 
		USAGE:

		<label class="inline-flex items-center cursor-pointer">
			<input type="checkbox" value="" class="sr-only peer" wire:model.live="maximal">
			<div class="switch peer"></div>
		</label>
	*/

	@apply relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-primary-300 dark:peer-focus:ring-primary-800 rounded-full dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-primary-600
}

/* Remove the arrows in input type=number */
@layer utilities {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
  
	input[type="number"] {
	  -moz-appearance: textfield;
	}
}