/* Abilita il comportamento di scroll-snap */
.scroll-snap-y {
    scroll-snap-type: y mandatory;
}

.scroll-snap-start {
    scroll-snap-align: start;
}

/*
	Mantiene il campo di testo numerico ma rimuove le frecce
	di incremento/decremento che sono inguardabili
*/

/* Rimuovere le frecce su Firefox */
input[type='number'] {
	appearance: textfield;
    -moz-appearance: textfield;
}

/* Rimuovere le frecce su WebKit (Chrome, Safari, Edge) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Previene lo switch del cursore da "default" a "text" */
#scrollNumber {
	cursor: default;
}